<div class="container">
    <p class="tagline">RAMENEZ L'HARMONIE CHEZ VOUS OU A VOTRE TRAVAIL'</p>
  
    <div class="about-section">
      <div class="image-side">
        <img src="assets/maman.jpg" alt="Nathalie">
      </div>
  
      <div class="text-side">
        <h1 class="about-title">ABOUT ME</h1><br><br><br>
        <p class="description">
          Je m’appelle Nathalie, et j’ai découvert dans le Feng Shui bien plus qu’un art de vivre : une philosophie de l’harmonie. Depuis plusieurs années, j’accompagne les personnes en quête d’équilibre à transformer leurs espaces de vie pour qu’ils reflètent leurs aspirations profondes.
        
          <br><br>
          À travers mes conseils et mes analyses Feng Shui, je vous aide à libérer les énergies bloquées, à retrouver la fluidité dans vos lieux et dans votre quotidien. Chaque intérieur raconte une histoire — et ensemble, nous pouvons la réécrire avec douceur, conscience et intention.
        
          <br><br>
          Mon approche est sensible, bienveillante et personnalisée. Que vous traversiez une période de transition ou que vous souhaitiez simplement réenchanter votre espace, je suis là pour vous guider vers un environnement qui vous soutient pleinement.
        </p>
        
      </div>
    </div>
  </div>
  <app-certification></app-certification>
  <app-fengshui></app-fengshui>
  <app-contactme></app-contactme>
  